p{
  margin-top: 0;
  margin-bottom: 0;
}

/*This style blah blah bla bla*/
body{
  font-family: Roboto, Arial;
  background-color: rgb(247, 247, 247);
  margin: 0;
  padding-top: 80px;
  padding-bottom: 1000px;
  padding-left: 96px;
  padding-right: 24px;

}

.thumbnail{
  width: 100%;
}

.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-preview{
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture{
}

.video-info{
}

.profile-picture{
  width: 36px;
  border-radius: 50%;
}

.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}

.video-author
.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author{
  margin-bottom: 4px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.video-time{
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  padding: 4px;
  border-radius: 2px;

}

.header{
  z-index: 100;
  height: 55px;

  display: flex;  
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(210, 210, 210);


}

.left-section{
  display: flex;
  align-items: center;

}

.hamburger-menu{
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;

}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;


}

.search-bar{
  display: block;
  margin: 0;
  flex:1;
  height: 36px;
  padding-left: 10px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 0px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  width: 0;
}

.search-bar::placeholder{
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 67px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 8px;

  position: relative;
}

.search-button ,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.current-user-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  bottom: -34px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  border-radius: 1px;

}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
  margin-top: 4px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(245, 245, 245);
}

.voice-search-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
  background: none;
  border: none;
  border-radius: 50px;
  height: 36px;
  width: 36px;
  cursor: pointer;

}

.notifications-icon-container:hover{
  background-color: rgb(220, 220, 220);
}

.notifications-icon-container:active{
  background-color: rgb(161, 161, 161);
  transition-duration: 0.1s;
}

.notifications-count{
  position: absolute;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  top: -3px;
  right: -7px;
  background-color: rgb(200, 0, 0);
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;

}

.right-section{
  width: 180px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.current-user-picture{
  border-radius: 50%;
  height: 32px;
}

.sidebar{
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  cursor: pointer;
}

.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover{
  background-color: rgb(216, 216, 216);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;

}

.sidebar-link div{
  font-size: 10px;

}
